[run]
source =
    config
    graphql_api
    identity
omit =
    */tests/*
    */migrations/*
    */wsgi.py
    */asgi.py

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
